<h4 class="grey">Who to Follow</h4>
<% 6.times do %>
  <div class="follow-user">
    <%= image_tag("users/user-11.jpg", :class => "profile-photo-sm pull-left") %>
    <div>
      <h5><a href="timeline.html">Diana Amber</a></h5>
      <a href="#" class="text-green">Add friend</a>
    </div>
  </div>
<% end %>
