<div class="container">

  <!-- Timeline
  ================================================= -->
  <div class="timeline">
    <%= render "template/timeline_cover" %>
    <div id="page-contents">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">

          <!-- Friend List
          ================================================= -->
          <div class="friend-list">
            <div class="row">
              <% 8.times do %>
                <div class="col-md-6 col-sm-6">
                  <div class="friend-card">
                    <%= image_tag("covers/1.jpg", :class => "img-responsive cover") %>
                    <div class="card-info">
                      <%= image_tag("users/user-3.jpg", :class => "profile-photo-lg") %>
                      <div class="friend-info">
                        <a href="#" class="pull-right text-green">My Friend</a>
                        <h5><a href="timeline.html" class="profile-link">Sophia Lee</a></h5>
                        <p>Student at Harvard</p>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-2 static">
          <%= render "template/timeline_activity" %>
        </div>
      </div>
    </div>
  </div>
</div>
