<div class="profile-card">
  <%=image_tag @user.avatar_url(:display), class: "profile-photo" %>
  <h5>
    <%= link_to @user.name, user_path(@user), class: "text-white" %>
  </h5>
</div><!--profile card ends-->
