<div class="profile-card">
  <%= image_tag("users/user-1.jpg", :class => "profile-photo") %>
  <h5>
    <%= link_to current_user.name, user_path(current_user), class: "text-white" %>
  </h5>
  <a href="#" class="text-white"><i class="ion ion-android-person-add"></i> 1,299 followers</a>
</div><!--profile card ends-->
