<% if current_user.id == @user.id %>
  <div id="sticky-sidebar">
    <h4 class="grey">Follow Requests</h4>
    <% if logged_in? && current_user.id == @user.id %>
      <% @wanteds.each do |user| %>
        <div class="feed-item">
        <div class="live-activity">
          <p><a href="#" class="profile-link"><%= user.name %></a> want to follow you.</p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
<% end %>
