@import 'bootstrap';
@import 'common';
@import 'style';
@import 'ionicons';
@import 'font-awesome';

$active_li_collor: #662d91;

.chat-room .chat-body ul.chat-message {
  overflow: hidden;
}

#message_field {
  float: left;
  width: 210px;
}

#message_btn {
  float: left;
  margin-left: 6px;
  height: 34px
}

.active {

  h6 {
    font-weight: bold;
    color: $active_li_collor
  }
}
