<ul class="nav-news-feed">
  <li><i class="icon ion-ios-paper"></i><div>
    <%= link_to "Public", controller: "users", action: "show_public" %>
  </div></li>
  <li><i class="icon ion-ios-people"></i><div>
    <%= link_to "Private", controller: "users", action: "show_private" %>
  </div></li>
  <li><i class="icon ion-ios-people-outline"></i><div>
    <%= link_to "Desires", controller: "users", action: "show_desire" %>
  </div></li>
</ul><!--news-feed links ends-->
